# Configuration file

general {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General Settings
    ##########################################################################################################

    general {
        # If Require Sneaking is enabled. Set this to true to invert the sneaking check for breaking only half a slab.
        B:"Invert Sneaking Check"=false

        # Set this to true to only break half a slab when the player is sneaking.
        B:"Require Sneaking"=false
    }

    ##########################################################################################################
    # compat
    #--------------------------------------------------------------------------------------------------------#
    # Compatibility Settings
    ##########################################################################################################

    compat {
    }

}


