# Configuration file

01 {
    S:hash=bl
    I:meta=01
    S:name=square_bottom_left
    S:shap=.      #  .
}


02 {
    S:hash=br
    I:meta=02
    S:name=square_bottom_right
    S:shap=.        #.
}


03 {
    S:hash=tl
    I:meta=03
    S:name=square_top_left
    S:shap=.#        .
}


04 {
    S:hash=tr
    I:meta=04
    S:name=square_top_right
    S:shap=.  #      .
}


05 {
    S:hash=bs
    I:meta=05
    S:name=stripe_bottom
    S:shap=.      ###.
}


06 {
    S:hash=ts
    I:meta=06
    S:name=stripe_top
    S:shap=.###      .
}


07 {
    S:hash=ls
    I:meta=07
    S:name=stripe_left
    S:shap=.#  #  #  .
}


08 {
    S:hash=rs
    I:meta=08
    S:name=stripe_right
    S:shap=.  #  #  #.
}


09 {
    S:hash=cs
    I:meta=09
    S:name=stripe_center
    S:shap=. #  #  # .
}


10 {
    S:hash=ms
    I:meta=10
    S:name=stripe_middle
    S:shap=.   ###   .
}


11 {
    S:hash=drs
    I:meta=11
    S:name=stripe_downright
    S:shap=.#   #   #.
}


12 {
    S:hash=dls
    I:meta=12
    S:name=stripe_downleft
    S:shap=.  # # #  .
}


13 {
    S:hash=ss
    I:meta=13
    S:name=small_stripes
    S:shap=.# ## #   .
}


14 {
    S:hash=cr
    I:meta=14
    S:name=cross
    S:shap=.# # # # #.
}


15 {
    S:hash=sc
    I:meta=15
    S:name=straight_cross
    S:shap=. # ### # .
}


16 {
    S:hash=bt
    I:meta=16
    S:name=triangle_bottom
    S:shap=.    # # #.
}


17 {
    S:hash=tt
    I:meta=17
    S:name=triangle_top
    S:shap=.# # #    .
}


18 {
    S:hash=bts
    I:meta=18
    S:name=triangles_bottom
    S:shap=.   # # # .
}


19 {
    S:hash=tts
    I:meta=19
    S:name=triangles_top
    S:shap=. # # #   .
}


20 {
    S:hash=ld
    I:meta=20
    S:name=diagonal_left
    S:shap=.## #     .
}


21 {
    S:hash=rd
    I:meta=21
    S:name=diagonal_up_right
    S:shap=.     # ##.
}


22 {
    S:hash=lud
    I:meta=22
    S:name=diagonal_up_left
    S:shap=.   #  ## .
}


23 {
    S:hash=rud
    I:meta=23
    S:name=diagonal_right
    S:shap=. ##  #   .
}


24 {
    S:hash=mc
    I:meta=24
    S:name=circle
    S:shap=.    #    .
}


25 {
    S:hash=mr
    I:meta=25
    S:name=rhombus
    S:shap=. # # # # .
}


26 {
    S:hash=vh
    I:meta=26
    S:name=half_vertical
    S:shap=.## ## ## .
}


27 {
    S:hash=hh
    I:meta=27
    S:name=half_horizontal
    S:shap=.######   .
}


28 {
    S:hash=vhr
    I:meta=28
    S:name=half_vertical_right
    S:shap=. ## ## ##.
}


29 {
    S:hash=hhb
    I:meta=29
    S:name=half_horizontal_bottom
    S:shap=.   ######.
}


30 {
    S:hash=bo
    I:meta=30
    S:name=border
    S:shap=.#### ####.
}


31 {
    S:hash=cbo
    S:item=minecraft:vine:0
    I:meta=31
    S:name=curly_border
}


32 {
    S:hash=cre
    S:item=minecraft:skull:4
    I:meta=32
    S:name=creeper
}


33 {
    S:hash=gra
    I:meta=33
    S:name=gradient
    S:shap=.# # #  # .
}


34 {
    S:hash=gru
    I:meta=34
    S:name=gradient_up
    S:shap=. #  # # #.
}


35 {
    S:hash=bri
    S:item=minecraft:brick_block:0
    I:meta=35
    S:name=bricks
}


36 {
    S:hash=sku
    S:item=minecraft:skull:1
    I:meta=36
    S:name=skull
}


37 {
    S:hash=flo
    S:item=minecraft:red_flower:8
    I:meta=37
    S:name=flower
}


38 {
    S:hash=moj
    S:item=minecraft:golden_apple:1
    I:meta=38
    S:name=mojang
}


39 {
    S:hash=du_vector_plate
    S:item=darkutils:trap_move:0
    I:meta=39
    S:name=du_vector_plate
}


40 {
    S:hash=actuallyadditions_drill
    S:item=actuallyadditions:item_drill:3
    I:meta=40
    S:name=actuallyadditions_drill
}


41 {
    S:hash=actuallyadditions_leaf_blo
    S:item=actuallyadditions:item_leaf_blower:0
    I:meta=41
    S:name=actuallyadditions_leaf_blo
}


42 {
    S:hash=actuallyadditions_phan_con
    S:item=actuallyadditions:item_phantom_connector:0
    I:meta=42
    S:name=actuallyadditions_phan_con
}


43 {
    S:hash=actuallyadditions_book
    S:item=actuallyadditions:item_booklet:0
    I:meta=43
    S:name=actuallyadditions_book
}


44 {
    S:hash=q_dr
    S:item=minecraft:skull:5
    I:meta=44
    S:name=quark_dragon
}


45 {
    S:hash=q_ey
    S:item=minecraft:ender_eye:0
    I:meta=45
    S:name=quark_eye
}


46 {
    S:hash=q_sh
    S:item=minecraft:iron_chestplate:0
    I:meta=46
    S:name=quark_shield
}


47 {
    S:hash=q_sw
    S:item=minecraft:iron_sword:0
    I:meta=47
    S:name=quark_sword
}


48 {
    S:hash=bt_flr
    S:item=botania:manaresource:3
    I:meta=48
    S:name=botania_flower
}


49 {
    S:hash=bt_lex
    S:item=botania:lexicon:0
    I:meta=49
    S:name=botania_lexicon
}


50 {
    S:hash=bt_lgo
    S:item=botania:manaresource:4
    I:meta=50
    S:name=botania_logo
}


51 {
    S:hash=bt_spl
    S:item=botania:manaresource:13
    I:meta=51
    S:name=botania_sapling
}


52 {
    S:hash=bt_tpt
    S:item=botania:tinypotato:0
    I:meta=52
    S:name=botania_tiny_potato
}


53 {
    S:hash=bt_sds
    S:item=botania:sparkupgrade:0
    I:meta=53
    S:name=botania_spark_dispersive
}


54 {
    S:hash=bt_sdm
    S:item=botania:sparkupgrade:1
    I:meta=54
    S:name=botania_spark_dominant
}


55 {
    S:hash=bt_src
    S:item=botania:sparkupgrade:2
    I:meta=55
    S:name=botania_spark_recessive
}


56 {
    S:hash=bt_sis
    S:item=botania:sparkupgrade:3
    I:meta=56
    S:name=botania_spark_isolated
}


57 {
    S:hash=bt_fis
    S:item=minecraft:fish:0
    I:meta=57
    S:name=botania_fish
}


58 {
    S:hash=bt_axe
    S:item=minecraft:iron_axe:0
    I:meta=58
    S:name=botania_axe
}


59 {
    S:hash=bt_hoe
    S:item=minecraft:iron_hoe:0
    I:meta=59
    S:name=botania_hoe
}


60 {
    S:hash=bt_pik
    S:item=minecraft:iron_pickaxe:0
    I:meta=60
    S:name=botania_pickaxe
}


61 {
    S:hash=bt_shv
    S:item=minecraft:iron_shovel:0
    I:meta=61
    S:name=botania_shovel
}


62 {
    S:hash=bt_srd
    S:item=minecraft:iron_sword:0
    I:meta=62
    S:name=botania_sword
}


63 {
    S:hash=ebf
    S:item=ebwizardry:magic_crystal:1
    I:meta=63
    S:name=wizardry_fire
}


64 {
    S:hash=ebi
    S:item=ebwizardry:magic_crystal:2
    I:meta=64
    S:name=wizardry_ice
}


65 {
    S:hash=ebl
    S:item=ebwizardry:magic_crystal:3
    I:meta=65
    S:name=wizardry_lightning
}


66 {
    S:hash=ebn
    S:item=ebwizardry:magic_crystal:4
    I:meta=66
    S:name=wizardry_necromancy
}


67 {
    S:hash=ebe
    S:item=ebwizardry:magic_crystal:5
    I:meta=67
    S:name=wizardry_earth
}


68 {
    S:hash=ebs
    S:item=ebwizardry:magic_crystal:6
    I:meta=68
    S:name=wizardry_sorcery
}


69 {
    S:hash=ebh
    S:item=ebwizardry:magic_crystal:7
    I:meta=69
    S:name=wizardry_healing
}


70 {
    S:hash=ie_hmr
    S:item=immersiveengineering:tool:0
    I:meta=70
    S:name=immersiveengineering_hammer
}


71 {
    S:hash=ie_bvl
    I:meta=71
    S:name=immersiveengineering_bevels
}


72 {
    S:hash=ie_orn
    I:meta=72
    S:name=immersiveengineering_ornate
}


73 {
    S:hash=ie_twd
    I:meta=73
    S:name=immersiveengineering_treated_wood
}


74 {
    S:hash=ie_wnd
    I:meta=74
    S:name=immersiveengineering_windmill
}


75 {
    S:hash=ie_wlfr
    I:meta=75
    S:name=immersiveengineering_wolf_r
}


76 {
    S:hash=ie_wlfl
    I:meta=76
    S:name=immersiveengineering_wolf_l
}


77 {
    S:hash=ie_wlf
    I:meta=77
    S:name=immersiveengineering_wolf
}


78 {
    S:hash=ang
    S:item=extrautils2:angelblock:0
    I:meta=78
    S:name=angel
}


79 {
    S:hash=xulaw
    S:item=extrautils2:lawsword:0
    I:meta=79
    S:name=xu_law
}


80 {
    S:hash=glo
    I:meta=80
    S:name=globe
}


81 {
    S:hash=pig
    I:meta=81
    S:name=snout
}


82 {
    S:hash=glo
    I:meta=82
    S:name=globe
}


