# Configuration file

##########################################################################################################
# Client
#--------------------------------------------------------------------------------------------------------#
# 客户端配置
##########################################################################################################

Client {
    # 反转打开 TF 手提袋而不是常规库存时的潜行行为
    B:tfBagOpenRequiresSneak=false
}


